@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #3366ff;
  --brand-active: #2952db;
  --brand-hover: #5c85ff;
  --brand-subtle: #f5f7ff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
}
